@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Register Butonu -->
    <div>
        <a class="btn btn-primary" href="@Url.Action("Register", "Account")">Register</a>
    </div>
    
    <!-- Login Butonu -->
    <div>
        <a class="btn btn-secondary" href="@Url.Action("Login", "Account")">Login</a>
    </div>

    <!--misafir devam et butonu-->
    <a href="/Home/Guest" class="btn btn-secondary">Misafir Olarak Devam Et</a>

</div>
